<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>URL Shortener</title>
</head>

<body>

  <div class="container">
    <h1>URL Shortener</h1>

    <form action="/shortUrls" method="post" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">Original URL</label>
      <input type="url" name="fullUrl" id="fullUrl" placeholder="Enter URL..." required class="form-control col mr-2">
      <button type="submit" class="btn btn-primary">Shorten</button>
    </form>

    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Original URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
  </div>
  <tbody>
    <% shortUrls.forEach(shortUrl => {%>
    <tr>
      <td><a href="<%= shortUrl.full %>" target="_blank"><%= shortUrl.full %></a></td>
      <td><a href="<%= shortUrl.short %>" target="_blank"><%= shortUrl.short %> </a></td>
      <td><%= shortUrl.clicks %> </td>
    </tr>
    <% }) %>

  </tbody>
  </table>
</body>

</html>